/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea/
target/
<%- if config[:ext] -%>
*.bundle
*.so
*.o
*.a
*.iml
*.DS_Store
mkmf.log
<%- end -%>
<%- if config[:test] == "rspec" -%>

# rspec failure tracking
.rspec_status
<%- end -%>
